<div class="widget custom-modal" v-if="modal">
	<div class="modal-container">
		<div class="heading">
			<h4 v-text="modalText"></h4>
			<button class="close-modal" v-on:click="closeModal"><i class="mdi mdi-close"></i></button>
		</div>
		<form action="<%= baseUrl +'/payment/adjustment' %>" method="post" @submit.prevent="onSubmit">
			<div class="body">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="applicant">Applicant</label>
						<select id="applicant" class="form-control" v-model="form.applicant" :disabled="method=='put'">
							<option value="">--Select--</option>
							<option v-for="app in applicant" v-bind:value="app.id" v-text="app.first_name +' '+ app.last_name"></option>
						</select>
						<div class="form-text form-error" v-if="!! errors.applicant" v-text="errors.applicant"></div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="date_to_pay">Start Date to Pay</label>
						<div class="form-row">
							<div class="form-group col-md-4">
								<select class="form-control" v-model="form.year">
									<option value="">--Year--</option>
									<option v-for="year in years" v-bind:value="year" v-text="year"></option>
								</select>
								<div class="form-text form-error" v-if="!! errors.year" v-text="errors.year"></div>
							</div>
							<div class="form-group col-md-4">
								<select class="form-control" v-model="form.month">
									<option value="">--Month--</option>
									<option value="01">January</option>
									<option value="02">February</option>
									<option value="03">March</option>
									<option value="04">April</option>
									<option value="05">May</option>
									<option value="06">June</option>
									<option value="07">July</option>
									<option value="08">August</option>
									<option value="09">September</option>
									<option value="10">October</option>
									<option value="11">November</option>
									<option value="12">December</option>
								</select>
								<div class="form-text form-error" v-if="!! errors.month" v-text="errors.month"></div>
							</div>
							<div class="form-group col-md-4">
								<select class="form-control" v-model="form.period">
									<option value="">--Period--</option>
									<option value="A">A</option>
									<option value="B">B</option>
								</select>
								<div class="form-text form-error" v-if="!! errors.period" v-text="errors.period"></div>
							</div>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label for="amount">Amount</label>
						<input type="text" id="amount" class="form-control" v-model="form.amount">
						<div class="form-text form-error" v-if="!! errors.amount" v-text="errors.amount"></div>
					</div>
					<div class="form-group col-md-6">
						<label for="status">Status</label>
						<select id="status" class="form-control" v-model="form.status">
							<option value="">--Select--</option>
							<option value="1">Approved</option>
							<option value="2">Cancelled</option>
						</select>
						<div class="form-text form-error" v-if="!! errors.status" v-text="errors.status"></div>
					</div>
				</div>
			</div>
			<div class="footer">
				<button type="button" class="btn btn-primary" v-if="loading"><i class="mdi mdi-loading mdi-spin"></i> Processing...</button>
				<button type="submit" class="btn btn-primary" v-else="loading">Submit</button>
				<button type="button" class="btn btn-light" v-on:click="closeModal">Cancel</button>
			</div>
		</form>
	</div>
</div>