<div class="widget custom-modal" v-if="modal">
	<div class="modal-container">
		<div class="heading">
			<h4>Change Log</h4>
			<button class="close-modal" v-on:click="closeModal"><i class="mdi mdi-close"></i></button>
		</div>
		
			<form action="<%= baseUrl %>/custom/change-log" method="post" @submit.prevent="onSubmit" enctype="multipart/form-data">
			<div class="body">
				<div class="form-row">
					<div class="form-group col-md-12" v-if="!form.approver_name && method=='post'">
						<div class="alert alert-warning alert-dismissible fade show" role="alert">
							<span>Change log required approver. Please contact administrator.</span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<div class="form-group col-md-6" v-if="method=='post'">
						<label for="head">Approver</label>
						<input type="text" class="form-control" v-model="form.approver_name" disabled>
						<div class="form-text form-error" v-if="!! errors.approver_id" v-text="errors.approver_id"></div>
					</div>
					<div class="form-group col-md-6">
						<label for="employee" class="isRequired">Employee</label>
						<select class="form-control" v-model="form.employee" @change="onChangeEmployee($event)" v-bind:disabled="method=='put'">
							<option value="">Select Employee</option>
							<option v-for="user in users" v-bind:value="user.id" v-text="user.last_name+', '+user.first_name +' : ' + user.employee_number"></option>
						</select>
						<div class="form-text form-error" v-if="!! errors.employee" v-text="errors.employee"></div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th colspan="3" class="text-center bg-light">Current Log</th>
									<th colspan="3" class="text-center bg-light">New Log</th>
								</tr>
								<tr>
									<th width="16.6%">Date</th>
									<th width="16.6%">Login</th>
									<th width="16.6%">Logout</th>
									<th width="16.6%">Date</th>
									<th width="16.6%">Login</th>
									<th width="16.6%">Logout</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<select class="form-control form-control-sm" v-if="form.type != 'update'" v-model="form.old_date" @change="setOldDate($event)">
											<option value="">-Selecte Shift-</option>
											<option v-for="(shift, index) in shifts" v-bind:value="shift.id" v-text="moment(shift.date).format('ll')"></option>
										</select>
										<input type="text" class="form-control form-control-sm" v-if="form.type == 'update'" v-model="form.old_date" disabled>
										<div class="form-text form-error" v-if="!! errors.old_date" v-text="errors.old_date"></div>
									</td>
									<td>
										<input type="text" class="form-control form-control-sm" v-model="form.old_login" readonly>
									</td>
									<td>
										<input type="text" class="form-control form-control-sm" v-model="form.old_logout" readonly>
									</td>
									<td>
										<datetime type="date" input-class="form-control form-control-sm" input-id="new_date" v-model="form.new_date" :min-datetime="minDate"></datetime>
										<div class="form-text form-error" v-if="!! errors.new_date" v-text="errors.new_date"></div>
									</td>
									<td>
										<datetime type="time" input-class="form-control form-control-sm" input-id="new_login" v-model="form.new_login"></datetime>
										<div class="form-text form-error" v-if="!! errors.new_login" v-text="errors.new_login"></div>
									</td>
									<td>
										<datetime type="time" input-class="form-control form-control-sm" input-id="new_logout" v-model="form.new_logout"></datetime>
										<div class="form-text form-error" v-if="!! errors.new_logout" v-text="errors.new_logout"></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
                <div class="form-row">
					<div class="form-group col-md-12">
						<label for="reason">Notes</label>
						<textarea name="note" id="note" class="form-control" rows="5" v-model="form.note"></textarea>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="attachment">Attachment</label>
						<input type="file" id="attachment" class="form-control-file" accept="image/*, application/pdf" v-on:change="onAttachmentChange($event)" name="attachment">
						<div class="form-text form-error" v-if="!! errors.attachment" v-text="errors.attachment"></div>
					</div>
				</div>
			</div>
			<div class="footer">
				<input type="hidden" name="id" v-model="form.id">
				<button type="button" class="btn btn-primary" v-if="loading"><i class="mdi mdi-loading mdi-spin"></i> Processing...</button>
				<button type="submit" class="btn btn-primary" v-else="loading">Submit</button>
				<button type="button" class="btn btn-light" v-on:click="closeModal">Cancel</button>
			</div>
			</form>
		
	</div>
</div>