<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= APP_NAME ? APP_NAME +' — ' : '' %> Overtime</title>
	<% include ../../Include/head %>

</head>
<body>
	<div id="app">
	<% include ../../Include/header %>
	
	<% include ../../Include/aside %>
	

	<main v-bind:class="fluid ? 'full-width':''">
		<custom-form-overtime inline-template>
			<div class="wrapper">
				<div class="bread-crumb">
					<ol>
						<li class="breadcrumb-item"><a href="<%= baseUrl %>">Dashboard</a></li>
						<li class="breadcrumb-item"><span>Custom Form</span></li>
						<li class="breadcrumb-item"><span class="active">Overtime</span></li>
						<li class="search">
							<div class="search-container">
								<div class="input-group">
									<input type="search" id="txtfilter" class="form-control form-control-sm" v-on:keyup="find()" v-on:click="clear()" v-model="keyword" placeholder="Search employees">
								</div>
							</div>
						</li>
					</ol>
					<a v-bind:href="exportLink" class="btn btn-primary btn-sm" target="_blank"><i class="mdi mdi-download"></i> Export</a>
					<% if(user_role.write == 1){ %>
					<a href="javascript:void(0);" class="btn btn-primary btn-sm" v-on:click="openModal()"><i class="mdi mdi-plus"></i> New</a>
					<% } %>
				</div>

				<div class="app-container">
					<div class="row">
						<div class="col">
							<h5>Overtime</h5>
							<div class="">
								<form class="form-inline">
									<!-- <select class="form-control mb-2 mr-sm-2 form-control-sm" v-model="param.employee">
										<option value="">All Employee</option>
										<option v-for="user in users" v-bind:value="user.id" v-text="user.last_name+', '+user.first_name +' : ' + user.employee_number"></option>
									</select> -->
									<datetime type="date" input-class="form-control mb-2 mr-sm-2 form-control-sm" placeholder="Start Date" v-model="param.start"></datetime>
									<datetime type="date" input-class="form-control mb-2 mr-sm-2 form-control-sm" placeholder="End Date" v-model="param.end" :min-datetime="minDate"></datetime>
									<select class="form-control mb-2 mr-sm-2 form-control-sm" v-model="param.status">
										<option value="">All</option>
										<option value="1">Pending</option>
										<option value="2">Approved</option>
										<option value="3">Declined</option>
										<option value="4">Closed</option>
									</select>
									<label class="mb-2 mr-sm-2">Limit</label>
									<select class="form-control mb-2 mr-sm-2 form-control-sm" v-model="param.limit">
										<option value="25">25</option>
										<option value="50">50</option>
										<option value="75">75</option>
										<option value="100">100</option>
									</select>
									<button type="reset" v-on:click="reset" class="btn btn-light mb-2">Reset</button>
								</form>
							</div>

							<div v-if="!fetching && records.length">
								<div class="table-responsive">
									<table class="table table-bordered">
										<thead class="bg-light">
											<tr>
												<th class="text-center" width="150">Date Filed</th>
												<th class="text-center" width="150">Employee No</th>
												<th class="text-center" width="150">Employee</th>
												<th class="text-center" width="300">Date</th>
												<th class="text-center">Purpose</th>
												<th class="text-center">Approver</th>
												<th class="text-center">Approved Date</th>
												<th class="text-center">Backup</th>
												<th class="text-center" width="150">Status</th>
												<th class="text-center" width="150">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="(record, index) in records">
												<td v-text="$Carbon(record.created_at)"></td>
												<td v-text="record.applicant ? record.applicant.employee_number : ''"></td>
												<td v-text="record.applicant ? record.applicant.last_name+', '+record.applicant.first_name : ''"></td>
												<td v-text="getDate(record.start_date, record.start_time)+' - '+getDate(record.end_date, record.end_time)"></td>
												<td>
													<span v-text="record.purpose"></span>
													<span v-if="record.attachment"><a v-bind:href="'./uploads/attachments/' + record.attachment" target="_blank" title="Attachment"><i class="mdi mdi-attachment mdi-18px"></i></a></span>
												</td>
												<td v-text="record.primary ? record.primary.last_name+', '+record.primary.first_name : '--'"></td>
												<td v-text="record.primary_status == 2 ? moment(record.updated_at).utc().format('MM/DD/YYYY HH:mm a') : '--'"></td>
												<td v-text="record.backup ? record.backup.last_name+', '+record.backup.first_name : '--'"></td>
												
												<td>
													<div v-if="record.primary_status == '1'"><span class="status primary"></span> Pending</div>
													<div v-if="record.primary_status == '2'"><span class="status success"></span> Approved</div>
													<div v-if="record.primary_status == '3'"><span class="status warning"></span> Declined</div>
													<div v-if="record.primary_status == '4'"><span class="status secondary"></span> Closed</div>
												</td>
												<td class="action text-center nowrap">
													<% if(user_role.modify == 1){ %>
													<button v-if="record.primary_status == '1'" class="btn btn-sm btn-outline-success" title="edit" v-on:click="editOvertime(index)"><i class="mdi mdi-lead-pencil"></i></button>
													<button v-if="record.primary_status != '1'" class="btn btn-sm btn-outline-success disabled"><i class="mdi mdi-lead-pencil"></i></button>
													<% } %>
													<% if(user_role.destroy == 1){ %>
													<button class="btn btn-sm btn-outline-warning" title="Archive" v-on:click="archive(record.id, 'custom/overtime/archive')"><i class="mdi mdi-trash-can-outline"></i></button>
													<% } %>
													<!-- <button v-if="record.primary_status == '1'" class="btn btn-sm btn-outline-warning" title="Archive" v-on:click="archive(record.id, 'custom/overtime/archive')"><i class="mdi mdi-trash-can-outline"></i></button>
													<button v-if="record.primary_status != '1'" class="btn btn-sm btn-outline-warning disabled"><i class="mdi mdi-trash-can-outline"></i></button> -->
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							
							<ul class="pagination" v-if="counts">
								<li class="page-item">
									<a href="javascript:void(0);" v-on:click="setPage(1)" class="page-link">First</a>
								</li>
								<li class="page-item" v-for="count in counts" v-bind:class="param.page == count ? 'active':''">
									<a href="javascript:void(0);" v-on:click="setPage(count)" class="page-link">{{ count }}</a>
								</li>
								<li class="page-item">
									<a href="javascript:void(0);" v-on:click="setPage(counts)" class="page-link">Last</a>
								</li>
							</ul>
							<div class="loading" v-if="fetching">
								<img src="<%= baseUrl + '/img/loading.gif' %>">
								<p>Loading.....</p>
							</div>
							<div class="norecord" v-if="!fetching && !records.length">
								<img src="<%= baseUrl + '/img/info.png' %>">
								<p>Sorry, we couldn't find any matches.</p>
							</div>
						</div>
					</div>
					
					<% include ./form %>

				</div>
				
				<% include ../../Include/alert %>

			</div>
		</custom-form-overtime>
	</main>
	
	</div>
	<% include ../../Include/javascript %>

</body>
</html>