<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= APP_NAME ? APP_NAME +' — ' : '' %> Change Shift Approval</title>
	<% include ../../Include/head %>

</head>
<body>
	<div id="app">
	<% include ../../Include/header %>
	
	<% include ../../Include/aside %>
	
	<main v-bind:class="fluid ? 'full-width':''">
		<approval inline-template>
			<div class="wrapper">
				<div class="bread-crumb">
					<ol>
						<li class="breadcrumb-item"><a href="<%= baseUrl %>">Dashboard</a></li>
						<li class="breadcrumb-item"><span>Approvals</span></li>
						<li class="breadcrumb-item"><span class="active">Change Log</span></li>
						<li class="search">
							<div class="search-container">
								<div class="input-group">
									<input type="search" id="txtfilter" class="form-control form-control-sm" v-on:keyup="find()" v-on:click="clear()" v-model="keyword" placeholder="Search employees">
								</div>
							</div>
						</li>
					</ol>
					<a v-bind:href="exportLinkCL" class="btn btn-primary btn-sm" target="_blank"><i class="mdi mdi-download"></i> Export</a>
				</div>

				<div class="app-container">
					<div class="row">
						<div class="col col-sm-12">

							<h5>Change Log Approval</h5>
							<div class="form-inline">
								<% if(!isHRGeneralist || true){ %>				
								<button type="button" class="btn btn-sm mb-2 mr-sm-2" v-bind:class="checkbox.length ? 'btn-primary':'btn-light'" :disabled="!checkbox.length" v-on:click="setStatus('approve')">
									<i class="mdi mdi-check"></i> Approve
								</button>
								<button type="button" class="btn btn-sm mb-2 mr-sm-2" v-bind:class="checkbox.length ? 'btn-warning':'btn-light'" :disabled="!checkbox.length" v-on:click="setStatus('decline')">
									<i class="mdi mdi-close"></i> Decline
								</button>
								<% } %>
									<datetime type="date" input-class="form-control mb-2 mr-sm-2 form-control-sm" placeholder="Start Date" v-model="param.start"></datetime>
									<datetime type="date" input-class="form-control mb-2 mr-sm-2 form-control-sm" placeholder="End Date" v-model="param.end" :min-datetime="minDate"></datetime>
									<!-- <select class="form-control mb-2 mr-sm-2 form-control-sm" v-model="param.employee">
										<option value="">All Employee</option>
										<option v-for="user in param_user" v-bind:value="user.id" v-text="user.last_name+', '+user.first_name"></option>
									</select> -->
									<select class="form-control mb-2 mr-sm-2 form-control-sm" v-model="param.status">
										<option value="">All</option>
										<option value="1">Pending</option>
										<option value="2">Approved</option>
										<option value="3">Declined</option>
										<option value="4">Closed</option>
									</select>
									<label class="mb-2 mr-sm-2">Limit</label>
									<select class="form-control mb-2 mr-sm-2 form-control-sm" v-model="param.limit">
										<option value="25">25</option>
										<option value="50">50</option>
										<option value="75">75</option>
										<option value="100">100</option>
									</select>
									<button type="reset" v-on:click="reset" class="btn btn-light mb-2">Reset</button>
							</div>
							<p></p>
							<div v-if="!fetching && records.length">
								<div class="table-responsive">
									<table class="table table-bordered">
										<thead class="bg-light">
											<tr>
												<th width="100" rowspan="2">
													<div class="p-icon p-smooth pretty">
														<input :disabled='!isUserHRGeneralist() && false' type="checkbox" v-on:click="selectAll" v-model="allSelected"> 
														<div class="state p-primary">
															<i class="icon mdi mdi-check"></i> 
															<label> Check All</label>
														</div>
													</div>
												</th>
												<th class="text-center" rowspan="2">Employee No</th>
												<th class="text-center" rowspan="2">Employee</th>
												<th class="text-center" rowspan="2">Date</th>
												<th class="text-center" colspan="2">Old Shift</th>
												<th class="text-center" colspan="2">New Shift</th>
												<th class="text-center" rowspan="2">Note</th>
												<th class="text-center" rowspan="2">Primary</th>
												<th class="text-center" rowspan="2">Backup</th>
												<th class="text-center" rowspan="2">Status</th>
											</tr>
											<tr>
												<th class="text-center" width="200">Login</th>
												<th class="text-center" width="200">Logout</th>
												<th class="text-center" width="200">Login</th>
												<th class="text-center" width="200">Logout</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="record in records" v-on:click="record.status == 1 ? 'toggleSelect('+record.status+')':''">
												<td>
													<div class="p-icon p-smooth pretty" p-checkbox="" v-if="record.primary_status == '1'">
														<input :disabled='!isUserHRGeneralist() && false' type="checkbox" v-model="checkbox" v-on:click="select" v-bind:value="record.id">
														<div class="state p-primary">
															<i class="icon mdi mdi-check"></i> 
															<label> Pending</label>
														</div>
													</div>
													<div class="p-icon p-smooth pretty" p-checkbox="" v-if="record.primary_status != '1'">
														<input type="checkbox" checked disabled>
														<div class="state p-success" v-if="record.primary_status == '2'"><i class="icon mdi mdi-check"></i><label> Approved</label></div>
														<div class="state p-warning" v-if="record.primary_status == '3'"><i class="icon mdi mdi-check"></i><label> Declined</label></div>
														<div class="state p-danger" v-if="record.primary_status == '4'"><i class="icon mdi mdi-check"></i><label> Closed</label></div>
													</div>
												</td>
												<td v-text="record.applicant.employee_number ? record.applicant.employee_number : '--'"></td>
												<td v-text="record.applicant.last_name+', '+record.applicant.first_name"></td>
												<td v-text="moment(record.log_date).format('YYYY-MM-DD')"></td>
												<td v-text="record.orig_login_time ? moment(record.orig_login_time).utc().format('hh:mm:A'):'-'"></td>
												<td v-text="record.orig_logout_time ? moment(record.orig_logout_time).utc().format('hh:mm:A'):'-'"></td>
												<td v-text="record.req_login_time ? moment(record.req_login_time).utc().format('hh:mm:A'):'-'"></td>
												<td v-text="record.req_logout_time ? moment(record.req_logout_time).utc().format('hh:mm:A'):'-'"></td>
												<td v-text="record.note ? record.note : '-'"></td>
												<td v-text="record.primary ? record.primary.last_name+', '+record.primary.first_name : '--'"></td>
												<td v-text="record.backup ? record.backup.last_name+', '+record.backup.first_name : '--'"></td>
												<td>
													<div v-if="record.primary_status == '1'"><span class="status primary"></span> Pending</div>
													<div v-if="record.primary_status == '2'"><span class="status success"></span> Approved</div>
													<div v-if="record.primary_status == '3'"><span class="status warning"></span> Declined</div>
													<div v-if="record.primary_status == '4'"><span class="status secondary"></span> Closed</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<ul class="pagination" v-if="counts">
								<li class="page-item">
									<a href="javascript:void(0);" v-on:click="setPage(1)" class="page-link">First</a>
								</li>
								<li class="page-item" v-for="count in counts" v-bind:class="param.page == count ? 'active':''">
									<a href="javascript:void(0);" v-on:click="setPage(count)" class="page-link">{{ count }}</a>
								</li>
								<li class="page-item">
									<a href="javascript:void(0);" v-on:click="setPage(counts)" class="page-link">Last</a>
								</li>
							</ul>
						</div>
						<div class="col col-sm-12">
							<div class="loading" v-if="fetching">
								<img src="<%= baseUrl + '/img/loading.gif' %>">
								<p>Loading.....</p>
							</div>
						</div>
						<div class="col col-sm-12" v-if="!fetching && !records.length">
							<div class="norecord">
								<img src="<%= baseUrl + '/img/info.png' %>">
								<p>Sorry, we couldn't find any matches.</p>
							</div>
						</div>
					</div>
					
					<!-- Search Modal -->
					<div class="widget search-modal" v-if="modal">
						<div class="modal-container sm">
							<div class="heading">
								<h4>Filter</h4>
								<button class="close-modal" v-on:click="close"><i class="mdi mdi-close"></i></button>
							</div>
							<form method="get">
								<div class="body">
								
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="start_date">Start Date</label>
											<datetime type="date" input-class="form-control " input-id="start_date" v-model="search.start" name="start" format="yyyy-MM-dd"></datetime>
										</div>
										<div class="form-group col-md-6">
											<label for="end_date">End Date</label>
											<datetime type="date" input-class="form-control " input-id="end_date" v-model="search.end" name="end" :disabled="disabled" :min-datetime="minDate" format="yyyy-MM-dd"></datetime>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="status">Status</label>
											<select id="status" class="form-control" v-model="search.status" name="status">
												<option value="">--Select all--</option>
												<option value="1">Pending</option>
												<option value="2">Approved</option>
												<option value="3">Declined</option>
												<option value="4">Closed</option>
											</select>
										</div>
									</div>
								</div>
								<div class="footer">
									<button type="submit" class="btn btn-primary"><i class="mdi mdi-magnify"></i> Search</button>
									<button type="reset" class="btn btn-light">Reset</button>
								</div>
							</form>
						</div>
					</div><!-- Search Modal -->

				</div>
				
				<% include ../../Include/alert %>

			</div>
		</approval>
	</main>
	
	</div>
	<% include ../../Include/javascript %>

</body>
</html>
