<%# ./Layout/Default.ejs %>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dashboard</title>
	<% include ./Include/head %>

</head>
<body>
	<% include ./Include/header %>
	
	<% include ./Include/aside %>
	

	<main id="app">
		<div class="bread-crumb">
			<ol>
				<li class="breadcrumb-item"><span class="active">Dashboard</span></li>
			</ol>
		</div>

		<div class="app-container">
				
			

		</div>
	</main>
	
	
	<% include ./Include/javascript %>

</body>
</html>