$bg-shift: $blue-lighten-2;
$bg-tardy: #fff59d;
$bg-absent: #ffcdd2;
$bg-leave: #81d4fa;
$bg-perfect: #69f0ae;
$bg-onsite: #00c853;

$bg-primary-light: $bg-leave;
$bg-success-light: $bg-perfect;
$bg-warning-light: $bg-tardy;