<div class="widget custom-modal" v-if="awardInfo">
	<div class="modal-container">
		<div class="heading">
			<h4 v-text="modalText"></h4>
			<button class="close-modal" v-on:click="awardInfo = false"><i class="mdi mdi-close"></i></button>
		</div>
		<form action="<%= baseUrl +'/employee/award/' + employee.id %>" method="post" @submit.prevent="onSubmit">
			 <div class="body">
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="title" class="isRequired">Award Title</label>
                        <input class="form-control"  v-model="form.title"/>   
						<div class="form-text form-error" v-if="!! errors.title" v-text="errors.title"></div>
					</div>
                    <div class="form-group col-md-4">
						<label for="date_given" class="isRequired">Date Given</label>
						<datetime type="date" input-class="form-control" input-id="date_given" v-model="form.date_given"></datetime>
                        <div class="form-text form-error" v-if="!! errors.date_given" v-text="errors.date_given"></div>
					</div>
                    <div class="form-group col-md-4">
						<label for="given_by" class="isRequired">Given By</label>
                        <input class="form-control"  v-model="form.given_by" />
						<div class="form-text form-error" v-if="!! errors.given_by" v-text="errors.given_by"></div>
					</div>
                    
				</div>
			<div class="footer">
				<button type="button" class="btn btn-primary" v-if="loading"><i class="mdi mdi-loading mdi-spin"></i> Processing...</button>
				<button type="submit" class="btn btn-primary" v-else="loading">Submit</button>
				<button type="button" class="btn btn-light" v-on:click="awardInfo = false">Cancel</button>
			</div>
		</form>
	</div>
</div> 
