<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Forgot Password</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/>
	<style>
		body{
			background: #f5f5f5;
		}	
	</style>
</head>
<body style="background: #F3F3F3; margin: 0; padding: 0; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 14px; color: #424242;">
	<div style="max-width: 800px; margin:0 auto; padding: 25px 25px;">
		<div>
			<img src="https://ci4.googleusercontent.com/proxy/OebF5mud3XtXqwrUyb7GZ757IDxKmdRbM_PB1xAzzMMoC9joHbLC9MMlhqjI7n_VVh_qnfsc5wCVbl9SBvYV5L4gftuZK5-v5v6Lga5hHP5HyFWxxAcH7z1RHIs=s0-d-e1-ft#https://s3.amazonaws.com/monday-activemail/shared/monday-logo-top-100.png" alt="">
		</div>
		<div style="background: #fff; padding: 15px 25px; border-radius: 5px; margin-top: 25px;">
			<p>Dear Username,</p>
			<p>We received a request to reset your password for your HRIS account: emailAddress. We're here to help.</p>
			<p>Simply click on the button to set new password.</p>

			<div style="margin: 50px 0 25px 0; text-align: center;">
				<a href="#" style="display: inline-block; padding: 8px 15px; background: #00c853; border-radius: 3px; color: #ffffff; text-decoration: none; margin: 0 3px;">Set new password</a>
			</div>

			<p>If you didn't ask to change your password, don't worry! Your password is still safe and you can delete this email.</p>

			<p>
				Cheers,<br>
				APPNAME
			</p>
			<p style="font-size: 12px; margin-top: 35px; text-align: center; color: #757575;">You have received this notification because you have either subscribed to it, or are involved in it. <br>Do not reply.</p>
		</div>
		<div style="font-size: 12px; text-align: center; margin-top: 30px; color: #757575;">
			
			<div style="margin-bottom: 10px;">Copyright &copy; 2016 YourSite, All rights reserved. </div>
			<img src="https://ci4.googleusercontent.com/proxy/OebF5mud3XtXqwrUyb7GZ757IDxKmdRbM_PB1xAzzMMoC9joHbLC9MMlhqjI7n_VVh_qnfsc5wCVbl9SBvYV5L4gftuZK5-v5v6Lga5hHP5HyFWxxAcH7z1RHIs=s0-d-e1-ft#https://s3.amazonaws.com/monday-activemail/shared/monday-logo-top-100.png" alt="">
		</div>
	</div>
</body>
</html>