@font-face {
    font-family: 'Courier New';
    src: url('CourierNewPSMT.woff2') format('woff2'),
        url('CourierNewPSMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

