<div class="widget custom-modal" v-if="modal">
	<div class="modal-container">
		<div class="heading">
			<h4 v-text="modalText"></h4>
			<button class="close-modal" v-on:click="modal = false"><i class="mdi mdi-close"></i></button>
		</div>
		<form action="<%= baseUrl +'/employee/certifications/'+ employee.shortid %>" method="post" @submit.prevent="onSubmit">
			<div class="body">
				<div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">Certification</label>
                        <input type="text" class="form-control" id="name" v-model="form.name">
                    </div>
				</div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="description">Certification Description</label>
                        <textarea style="width: 205%;" class="form-control" id="description" cols="12" rows="6" v-model="form.description"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="date_issued">Issued Date</label>
                        <datetime type="date" input-class="form-control" input-id="date_issued" v-model="form.date_issued"></datetime>
                    </div>
                </div>
                <div class="form-row">
					<div class="form-group col-md-4">
                        <label for="start_date">Start Date</label>
                        <datetime type="date" input-class="form-control" input-id="start_date" v-model="form.start_date"></datetime>                    
                    </div>
                    <div class="form-group col-md-4">
                        <label for="end_date">End Date</label>
                        <datetime type="date" input-class="form-control" input-id="end_date" v-model="form.end_date"></datetime>                    
                    </div>
				</div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="expiry_date">Expiration Date</label>
                        <datetime type="date" input-class="form-control" input-id="expiry_date" v-model="form.expiry_date"></datetime>                    
                    </div>
                </div>
			</div>
			<div class="footer">
				<button type="button" class="btn btn-primary" v-if="loading"><i class="mdi mdi-loading mdi-spin"></i> Processing...</button>
				<button type="submit" class="btn btn-primary" v-else="loading">Submit</button>
				<button type="button" class="btn btn-light" v-on:click="modal = false">Cancel</button>
			</div>
		</form>
	</div>
</div>