<b-modal hide-footer id="modal-search" title="BootstrapVue">
	<template slot="modal-title">Filter</template>
	<br>
	<form method="get">
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Date</label>
			<div class="col-sm-4">
				<datetime type="date" input-class="form-control" name="start" v-model="search.start"></datetime>
			</div>
			<label class="col-sm-1 col-form-label">—</label>
			<div class="col-sm-4">
				<datetime type="date" input-class="form-control" name="end" v-model="search.end" :min-datetime="minDate"></datetime>
			</div>
		</div>
		<div class="form-group row">
			<label for="status" class="col-sm-2 col-form-label">Status</label>
			<div class="col-sm-4">
				<select id="status" class="form-control" name="status" v-model="search.status">
					<option value="">All</option>
					<option value="1">Pending</option>
					<option value="2">Approved</option>
					<option value="3">Declined</option>
					<option value="4">Closed</option>
				</select>
			</div>
		</div>
		<br>
		<hr>
		<button type="submit" class="btn btn-primary"><i class="mdi mdi-magnify"></i> Search</button>
		<button type="reset" class="btn btn-light">Reset</button>
	</form>
	
</b-modal>