<!-- Modal -->
<div class="modal fade" v-if="showBiometricLogModal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Biometric Logs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <div class="table-scrollable" >
                <table class="table table-bordered">
                    <thead class="bg-light">
                        <tr>
                            <th>Date</th>
                            <th>In/Out</th>
                        </tr>
                    </thead>
                    <tbody v-for="(biometric, index) in biometric_log">
                        <tr>
                            <td v-text="moment(biometric.date).utc().format('MM/DD/YYYY HH:mm a')"></td>
                            <td v-text="biometric.status ? 'Out' : 'In'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
