<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Error 404</title>
	<link rel="stylesheet" href="<%= baseUrl +'/css/app.css' %>">
	<link rel="icon" href="<%= baseUrl +'/favicon.ico' %>">
</head>
<body>
	<div class="server-error">
		<div class="icon">
			<img src="<%= baseUrl + '/img/error.png' %>">
		</div>
		<h1>Oops! 404</h1>
		<div class="message">
			<p>You must have picked the wrong door because i haven't been able to lay my eye on the page you've been searching for.</p>
			<a href="<%= baseUrl %>">BACK TO HOME</a>
		</div>
	</div>
</body>
</html>