<div class="widget custom-modal" v-if="modal">
	<div class="modal-container">
		<div class="heading">
			<h4 v-text="modalText"></h4>
			<button class="close-modal" v-on:click="closeModal"><i class="mdi mdi-close"></i></button>
		</div>
		
			<form action="<%- baseUrl %>/recruitment/joining" method="post" @submit.prevent="onSubmit">
			<div class="body">
				<h5>Personal Details</h5>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="position" class="isRequired">Position</label>
						<input type="text" id="position" class="form-control" v-model="form.position">
						<div class="form-text form-error" v-if="!! errors.position" v-text="errors.position"></div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="first_name" class="isRequired">First Name</label>
						<input type="text" id="first_name" class="form-control" v-model="form.first_name">
						<div class="form-text form-error" v-if="!! errors.first_name" v-text="errors.first_name"></div>
					</div>
					<div class="form-group col-md-6">
						<label for="last_name" class="isRequired">Last Name</label>
						<input type="text" id="last_name" class="form-control" v-model="form.last_name">
						<div class="form-text form-error" v-if="!! errors.last_name" v-text="errors.last_name"></div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="birthday" class="isRequired">Birthday</label>
						<datetime type="date" input-class="form-control " input-id="birthday" v-model="form.birthday"></datetime>
						<div class="form-text form-error" v-if="!! errors.birthday" v-text="errors.birthday"></div>
					</div>
					<div class="form-group col-md-6">
						<label for="gender" class="isRequired">Gender</label>
						<select class="form-control" id="gender" v-model="form.gender">
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
						<div class="form-text form-error" v-if="!! errors.gender" v-text="errors.gender"></div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nationality" class="isRequired">Nationality</label>
						<select class="form-control" id="nationality" v-model="form.nationality">
							<option value="">--Select--</option>
							<option v-for="nationality in init.nationalities" v-bind:value="nationality.value" v-text="nationality.text"></option>
						</select>
						<div class="form-text form-error" v-if="!! errors.nationality" v-text="errors.nationality"></div>
					</div>
					<div class="form-group col-md-6">
						<label for="marital_status" class="isRequired">Marital Status</label>
						<select class="form-control" id="marital_status" v-model="form.marital_status">
							<option value="">--Select--</option>
							<option value="Single">Single</option>
							<option value="Married">Married</option>
							<option value="Separated">Separated</option>
							<option value="Divorced">Divorced</option>
							<option value="Widowed">Widowed</option>
						</select>
						<div class="form-text form-error" v-if="!! errors.marital_status" v-text="errors.marital_status"></div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="phone_number" class="isRequired">Phone Number</label>
						<input type="text" id="phone_number" class="form-control" v-model="form.phone_number">
						<div class="form-text form-error" v-if="!! errors.phone_number" v-text="errors.phone_number"></div>
					</div>
					<div class="form-group col-md-6">
						<label for="alternate_number">Alternate Number</label>
						<input type="text" id="alternate_number" class="form-control" v-model="form.alternate_number">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="email">Email</label>
						<input type="email" id="email" class="form-control" v-model="form.email">
						<div class="form-text form-error" v-if="!! errors.email" v-text="errors.email"></div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="sss_number">SSS Number</label>
						<input type="text" id="sss_number" class="form-control" v-model="form.sss_number">
					</div>
					<div class="form-group col-md-6">
						<label for="pagibig_number">Pagibig Number</label>
						<input type="text" id="pagibig_number" class="form-control" v-model="form.pagibig_number">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="philhealth_number">Philhealth Number</label>
						<input type="text" id="philhealth_number" class="form-control" v-model="form.philhealth_number">
					</div>
					<div class="form-group col-md-6">
						<label for="tin_number">TIN Number</label>
						<input type="text" id="tin_number" class="form-control" v-model="form.tin_number">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="current_address" class="isRequired">Current Address</label>
						<input type="text" id="current_address" class="form-control" v-model="form.current_address">
						<div class="form-text form-error" v-if="!! errors.current_address" v-text="errors.current_address"></div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="permanent_address">Permanent Address</label>
						<input type="text" id="permanent_address" class="form-control" v-model="form.permanent_address">
						<div class="form-text form-error" v-if="!! errors.permanent_address" v-text="errors.permanent_address"></div>
					</div>
				</div>
				<h5>Employment Details</h5>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="company" class="isRequired">Company</label>
						<select id="company" class="form-control" v-model="form.company">
							<option value="">--Select--</option>
							<option v-for="company in init.companies" v-bind:value="company.value" v-text="company.text"></option>
						</select>
						<div class="form-text form-error" v-if="!! errors.company" v-text="errors.company"></div>
					</div>
					<div class="form-group col-md-6">
						<label for="department" class="isRequired">Department</label>
						<select id="department" class="form-control" v-model="form.department">
							<option value="">--Select--</option>
							<option v-for="department in init.departments" v-bind:value="department.value" v-text="department.text"></option>
						</select>
						<div class="form-text form-error" v-if="!! errors.department" v-text="errors.department"></div>
					</div>
					<div class="form-group col-md-6">
						<label for="job_title" class="isRequired">Designation</label>
						<select id="job_title" class="form-control" v-model="form.job_title">
							<option value="">--Select--</option>
							<option v-for="job_title in init.job_titles" v-bind:value="job_title.value" v-text="job_title.text"></option>
						</select>
						<div class="form-text form-error" v-if="!! errors.job_title" v-text="errors.job_title"></div>
					</div>
					<div class="form-group col-md-6">
						<label for="start_date">Start Date</label>
						<datetime type="date" input-class="form-control" input-id="start_date" v-model="form.start_date"></datetime>
						<div class="form-text form-error" v-if="!! errors.start_date" v-text="errors.start_date"></div>
					</div>
				</div>
				<h5>Requirements</h5>
				<table class="table table-borderless">
					<tr v-for="(req, index) in form.requirements">
						<td style="padding-left: 0" v-text="req.title"></td>
						<td width="40%" style="padding-right: 0" class="text-right">
							<p-radio class="p-icon p-round" v-bind:name="'status' + index" color="primary" v-model="req.status" value="1">
								<i slot="extra" class="icon mdi mdi-check"></i> Pending
							</p-radio>
							<p-radio class="p-icon p-round" v-bind:name="'status' + index" color="success" v-model="req.status" value="2">
								<i slot="extra" class="icon mdi mdi-check"></i> Complete
							</p-radio>
							<p-radio class="p-icon p-round" v-bind:name="'status' + index" v-model="req.status" value="3">
								<i slot="extra" class="icon mdi mdi-check"></i> Not Applicable
							</p-radio>
						</td>
					</tr>
				</table>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="status" class="isRequired">Status</label>
						<select id="status" class="form-control" v-model="form.status">
							<option value="">--Select--</option>
							<option value="4">Ongoing</option>
							<option value="5">Complete</option>
						</select>
						<div class="form-text form-error" v-if="!! errors.status" v-text="errors.status"></div>
					</div>
					<div class="form-group col-md-12">
						Note: Once the status is set to <strong>Complete</strong>, candidate profile will copied to employee record.  
					</div>
				</div>
			</div>
			
			<div class="footer">
				<button type="button" class="btn btn-primary" v-if="loading"><i class="mdi mdi-loading mdi-spin"></i> Processing...</button>
				<button type="submit" class="btn btn-primary" v-else="loading">Submit</button>
				<button type="button" class="btn btn-light" v-on:click="closeModal">Cancel</button>
			</div>
			</form>
		
	</div>
</div>